$first-title: 30px;
$second-title: 24px;
$third-title: 20px;
$biggest-font: 44px;
$large-font:34px;
$bigger-font:26px;
$big-font:22px;
$medium-font: 18px;
$small-font: 14px;

$small-icon-size:48px;
$icon-size: 64px;
