@import "./colors";
@import "./fonts";
@import "./mixins";
@import "./variables";

@font-face {
    font-family: "Ubuntu";
    src: url("~@/assets/fonts/Ubuntu-Regular.woff2") format("woff2");
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: "Ubuntu";
    src: url("~@/assets/fonts/Ubuntu-Bold.woff2") format("woff2");
    font-weight: bold;
    font-display: swap;
}

html{
    overflow-y: hidden;
}

body{
    margin:0;
    padding:0;
    overflow-x: hidden;
    font-family: "Ubuntu", sans-serif;
}

* {
    box-sizing: border-box;
}

.scrollContainer{
    width: 100%;
    //height: fit-content;
    scroll-behavior: smooth;

    & > section{
        width: 100%;
        height: 100dvh;
        display: flex;
        flex-direction: column;
        align-items:center;
        padding:0 0 10px 0;

        &:not(#home):not(.parallaxWrapper) {
            height: calc(100dvh - $navbarHeight);
        }

        @include respond-to(max-width, 1024px){
            //height:fit-content;
        }

        & > .title{
            width:100%;
            display:flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin: 0;
            padding: 20px 0;
            font-size:$biggest-font;
            background-color:white;
            color: $color-dark;
        }
    }
}
