@import "./colors";
@import "./fonts";

section{
    width: 100%;
    height: calc(100vh - 91px);
    -webkit-box-shadow: $shadow-box; 
    box-shadow: $shadow-box;

    display: flex;
    flex-direction: column;
    align-items:center;

    & > .title{
        width:100%;
        display:flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 20px 0;
        font-size:$biggest-font;
        background-color:$color-dark;
        color:$color-white;
    }
}
